//font-sizes
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-5: 24px;
$font-size-6: 28px;
$font-size-7: 46px;

.container {
  width: 100%;
}

input {
  height: 40px;
  border-radius: 6px;
  border: none;
  padding: 0 8px;
  font-size: $font-size-3;
}

input[type="search"]::placeholder {
  color: $font-color-grey3;
  font-size: $font-size-3;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: $font-size-5;
}
h2 {
  font-size: $font-size-6;
}
h3 {
  font-size: $font-size-4;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.nav-header {
  background-color: $main-color;
  height: 60px;
  display: flex;
  justify-content: center;
  .nav-header-container {
    height: auto;
    max-width: 1200px;
    display: flex;
    gap: 18px;
    padding: 8px 18px;
    width: 100%;
    div {
      flex: 1;
      align-self: center;
    }
  }
}
